<div class="element-row">
  <hr>
  <% unless element['errors'].blank? %>
    <div class="row">
      <div class="span8">
        <%= element['errors'].html_safe %>
      </div>
    </div>
  <%end %>
  <div class="row">
    <div class="span4">
      <label class="string required control-label"><abbr>* </abbr>Title</label>
      <%= text_field_tag 'element[][title]', element["title"] %>
     </div>
    <div class="span4">
      <label class="string required control-label"><abbr>* </abbr>Data Type</label>
      <%= select_tag("element[][data_type]", options_for_select([["Text","string"],["Paragraph text","text"],["Multiple choice", "radio"],["Checkboxes", "check_boxes"],["Choose from a list", "select"]], element["data_type"]), class: "options") %>
     </div>
    <div class="span1">
      <label class="string required control-label">Unique</label>
      <%= check_box_tag 'element[][unique]', 'yes', element["unique"] %>
     </div>
    <div class="span1">
      <label class="string required control-label">Mendatory</label>
      <%= check_box_tag 'element[][mendatory]', 'yes', element["mendatory"] %>
     </div>
    <div class="span1">
      <% if index != 0 %>
        <a href='javascript:void(0);' class='remove btn btn-danger btn-mini button_margin'>Remove</a>  
      <% end %>
    </div>
    <div class="span5 <%= display_class(element['data_type']) %>" id="options_block">
      <label class="string required control-label"><abbr>* </abbr>Options</label>
      <%= text_area_tag 'element[][multi_options]', element["multi_options"] %>
     </div>
  </div>
</div>
