
  <% if @content_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_type.errors.count, "error") %> prohibited from being saved:</h2>
      <ul>
      <% @content_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="span4">
      <label class="string required control-label"><abbr>* </abbr>Name</label>
      <%= text_field_tag 'content_type[name]', @content_type.name %>
    </div>
  </div>

  <% i = 0 %>
  <% @content_type.hashed_elements.each do |key, hash| %>
    <%= render :partial => "form_element", :locals => {:element => hash, :index => i} %>
    <% i += 1 %>
  <% end %>

  <div id="more_content_types"></div>

  <div class="row">
      <div class="span3 pull-right button_margin">
      <%= link_to "<b>Add another Element</b>".html_safe, another_element_content_types_path, :remote => true, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <label class="string required control-label"><abbr>* </abbr>Create your Template</label>
      Note: Place holder should be like {{data.first_name}}, {{data.last_name}} for title "First Name", "Last Name" respectively.
      <%= text_area_tag 'content_type[template]', @content_type.template, class: "span12", rows: "6" %>
    </div>
  </div>


  <div class="form-actions">
    <input type="submit" value="Save Form Data" name="commit" class="btn btn-success">
    <%= link_to "Cancel", root_path, :class => "btn btn-danger" %>
  </div>

<script>
  $(document).ready(function(){
    $(".remove").live('click', function(){
      $(this).closest(".element-row").remove();
    });
    $(".options").live('change', function(){
      if ($(this).val() != "text" && $(this).val() != "string")
        $(this).parent().parent().find("div#options_block").removeClass("hide").addClass("show");
      else
        $(this).parent().parent().find("div#options_block").removeClass("show").addClass("hide");
    }); 
  });
</script>


