<%= simple_form_for [@content_type, @data_content] do |f| %>
  <% if @data_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_content.errors.count, "error") %> prohibited this data_content from being saved:</h2>

      <ul>
      <% @data_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% JSON.parse(@content_type.content_type_attributes).each do |data_key, data_hash| %>
    <div class="field">
      <%= f.input data_key,:as => data_hash['data_type'], :required => data_hash["mendatory"], :collection => get_options_array(data_hash['multi_options']), :input_html => {:class => "span8",:maxlength => data_hash["maxlength"] },item_wrapper_class: 'inline'%>
    </div>
  <% end %>
  <div class="form-actions">
    <div class="actions">
      <%= f.submit 'Save Data', :class => "btn btn-success" %>
      <%= link_to "Cancel", content_type_data_contents_path(@content_type), :class => "btn btn-danger" %>
    </div>
  </div>
<% end %>
