<legend>Listing Content Types</legend>

<table class="table table-hover messages">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Opertions</th>
  </tr>

<% @content_types.each do |content_type| %>
  <tr>
    <td><%= content_type.name %></td>
    <td><%= get_status content_type.is_active %></td>
    <td>
      <%= link_to 'Edit', mobi_cms.edit_admin_content_type_path(content_type), class: 'btn btn-mini' %>
      <%= link_to 'Destroy', mobi_cms.admin_content_type_path(content_type), method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Show Records', content_type_data_contents_path(content_type), class: 'btn btn-info btn-mini' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content type', mobi_cms.new_admin_content_type_path, class: 'btn btn-primary' %>
